# Игнорируем данные и модели
data/raw/*
!data/raw/*.dvc
data/processed/*
!data/processed/*.dvc
models/
mlruns/

# Игнорируем временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.vscode/
.idea/
.ipynb_checkpoints/
*.json

# DVC служебные файлы
!.dvc
/models
/metrics.json
